* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1444930694458-01babf71870c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwNzk2MjY0OA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
}

.caixa-maior {
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    width: calc(100% - 100px);
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    width: calc(100% - 70px);
}

.icone-busca {
    width: 20px;

}

.botao-buscar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: gray;
    opacity: 0.5;
    float: right;
}

.caixa-media {
    margin-top: 30px;
}


.cidade {
    color: antiquewhite;
    font-size: 19px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.texto-previsao {
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: white;
    margin-top: 30px;
}